<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'DFT - Todos los productos'})%> 
<body>
    <%- include('./partials/header') %> 

    
    <main class="main-general">

        <!-- <section class="prodListing"> -->

            <article class="wrapper">

                <div class="nav-menu-test">
                    <div class="menu__options">
                        <a href="/products" class="menu__items">TODOS LOS PRODUCTOS</a>
                        <a href="/products/category/1" class="menu__items">NOTEBOOKS</a>
                        <a href="/products/category/2" class="menu__items">PERIFÉRICOS</a>
                        <a href="/products/category/4" class="menu__items">ALMACENAMIENTO</a>
                        <a href="/products/category/3" class="menu__items">ACCESORIOS</a>
                        <a href="/products/category/6"class="menu__items">COMPONENTES</a>
                        <a href="/products/category/7"class="menu__items">CONSOLAS</a>
                        <a href="/products/category/5" class="menu__items">SILLAS GAMER</a>
                    </div>
                </div>
                
                <% if (productsDB == "") { %>
                    <h3 class="titulo__prod">No se encontraron resultados que coincidan con tu búsqueda</span></h3>
                    <% }else { %>
                        <% productsDB.forEach(product => { %>
                            <section class="wrapper">
                                <a class="cont-dest__link" href="/products/detail/<%= product.id %> ">
                                    <section class="cont-dest__img">
                                        <img src="/img/products/<%= product.thumb %>" class="img__producto" alt="<%= product.name %>">
                                        <hr class = "descripcion__divis">
                                    </section>
                                    <section class="cont__dispDesc">
                                        <h3 class="dispDesc__nombre"><%= product.name %></h3>
                                        <h4 class="dispDesc__precio">$<%= product.price.toLocaleString('es-ES') %></h4>
                                    </section>
                                </a>
                            </section>
                            
                        <% }) %>
                      <% } %>
            </article>

        <!-- </section> -->
        
    </main>
    
    <%- include('./partials/footer') %> 
</body>
</html>